/* CSS files add styling rules to your content */

@font-face {
  font-family: "HOUSE3009";
  src: url("HOUSE3009-Spaceport.woff");
}
body {
  font-family:  "House 3009", helvetica, arial, sans-serif;
  margin: 2em;
  Background-color: rgb(
  
}

h1 {
  font-style: italic;
  color: #373fff;
}

